
.login-right {
    background-color: #c2bff8 !important;  
}

.login-right-content {
    background-color: #ffffff;
}   

.login__icon {
    width: 60px;
    height: 60px;
    background-color: rgba(59,130,246,255);
    border-radius: 50%;
    color: white !important;
    text-align: center;
    margin: auto;
    line-height: 60px;
}

.login__icon .fa-user {
    font-size: 30px;
     line-height: 60px;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-form-item {
    margin-bottom: 5px !important;
}


.login {
    position: relative;
   padding: 100px 20px 100px;
    width: 100vw;
    
}

.ant-form-item {
    margin-bottom: 10px !important;
}

.login-left {
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/283/061/original/web-development-concept-in-3d-isometric-design-designer-works-with-code-interface-engineering-programming-settings-and-optimizes-pages-template-with-people-scene-illustration-for-webpage-vector.jpg) !important;
    background-position: bottom;
    background-size: 100% 100%;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-btn {
 height: 40px;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-btn-default:not(:disabled):hover {
    color: white !important;
}

@media screen and (min-width:768px) {
    .login__content {
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
    }
}

@media screen and (max-width:767.98px) {
    .login-left {
        display: none;
    }
    .login__content {
        top: 50%;
        transform: translateY(-40%); 
    }
}

/* @media screen and (max-width:375px) {

    .login-right {
        width: 280px !important;
        display: flex;
        justify-content: center;
    }
} */
