.signUp {
    background-color: #c2bff8 !important;
}

.signUp-right-content {
    background-color: rgb(255, 255, 255);
    
}

.signUp__icon {
    width: 60px;
    height: 60px;
    background-color: rgba(59,130,246,255);
    border-radius: 50%;
    color: white !important;
    text-align: center;
    margin: auto;
    line-height: 60px;
}

.signUp__icon .fa-user-lock {
    font-size: 30px;
     line-height: 60px;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-form-item {
    margin-bottom: 5px !important;
}


.signUp-right {
    position: relative;
   padding: 100px 20px 100px;
    width: 100vw;
    
}


.ant-form-item {
    margin-bottom: 10px !important;
}

.signUp-left {
    background-image: url(https://img.freepik.com/premium-vector/big-data-analysis-concept-3d-isometric-design-user-making-marketing-research-works_9209-7793.jpg?w=2000) !important;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-btn {
 height: 40px;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-btn-default:not(:disabled):hover {
    color: white !important;
}

@media screen and (min-width:768px) {
    .signUp__content {
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
    }
}

@media screen and (max-width:767.98px) {
    .signUp-left {
        display: none;
    }
    .signUp__content {
        top: 50%;
        transform: translateY(-40%); 
    }
}

/* @media screen and (max-width:375px) {

    .signUp-right {
        width: 280px !important;
        display: flex;
        justify-content: center;
    }
} */