@tailwind base;
@tailwind components;
@tailwind utilities;


.jira {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
}

/* Menu */
.menu {
  height: 100vh;
  width: 18%;
  background-color: #f4f5f7;
}

 .menu .account {
  display: flex;
  padding: 5% 17%;
  margin-bottom: 5%;
}

.menu .account .avatar {
  padding-top: 13%;
  margin-right: 10px;
}

.avatar img {
  width: 50px;
}


.menu .account .account-info {
  padding-top: 12%;
  padding-bottom: 5%;
  text-align: left;
}


.menu .account .account-info p:first-child {
  margin-bottom: 3px;
  font-weight: 500;
}

.menu .account .account-info p:last-child {
  margin-top: 0px;
  font-weight: 300;
}

.menu .control {
  padding: 0% 5%;
  text-align: left;
  margin-bottom: 8%;
  border-bottom: 2px solid #c4c5c6;
  margin-left: 7%;
  margin-right: 7%;
}

.menu .control div {
  margin-bottom: 10px;
  padding: 2% 3%;
  cursor: pointer;
}

.menu .control div span:first-child {
  margin-right: 10px;
}

.menu .control div span:first-child:focus {
  background-color: #ebecf0;
}

.menu .control div:focus {
  color: royalblue;
}

.menu .feature {
  padding: 0% 5%;
  text-align: left;
  margin-bottom: 8%;
  margin-left: 7%;
  margin-right: 7%;
}

.menu .feature div {
  margin-bottom: 5px;
  padding: 2% 3%;
  cursor: pointer;
}

.menu .feature div .svg-inline--fa {
  margin-right: 5px;
}

.menu .feature div span {
  font-size: 14px;
} 

.main {
  padding-left: 2%;
}
.main .header .breadcrumb {
  margin-bottom: 0;
  padding-left: 0px;
}

.main h3 {
  margin-bottom: 20px;
}

.main .info .search-block {
  position: relative;
}

.main .info .search-block .search {
  height: 32px;
  width: 200px;
  background-color: rgb(250, 251, 252);
  border: 2px solid rgb(223, 225, 230);
  border-radius: 3px;
  padding-left: 32px;
}

.main .info .search-block .fa-search {
  position: absolute;
  left: 5%;
  top: 15%;
  color: #67748b;
}

.main .info .avatar-group {
  margin-left: 20px;
}

.avatar-group .avatar img {
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 50%;
}

.avatar img {
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 50%;
}

.main .info .text {
  text-align: center;
  line-height: 35px;
}

.main .content {
  margin-top: 20px;
}

.main .content .card {
  margin-right: 10px;
  background-color: #f4f5f7;
}

.main .content .card .card-header {
  border: none;
  background-color: transparent;
  color: #5e6c84;
}

.main .content .card .list-group {
  border: none;
}

.main .content .card .list-group .list-group-item {
  margin: 5px;
}

.list-group-item p {
  font-size: 14px;
}

.list-group-item .block {
  justify-content: space-between;
}

.list-group-item .block .block-left {
  line-height: 40px;
}

.list-group-item .block .block-left .svg-inline--fa {
  margin-right: 5px;
}

.fa-bookmark {
  color: #5fb03e;
}

.fa-arrow-up {
  color: #d85463;
}

.fa-check-square {
  color: #62a0ce;
}

/* Modal */
.modal-search {
  margin: 0px !important;
}

.modal-search .modal-content {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100vh;
}

.modal-search .modal-content .modal-header {
  border-bottom: none;
}

.modal-search .modal-content .modal-header .search-block {
  position: relative;
  width: 100%;
}

.modal-search .modal-content .modal-header .search-block .search {
  height: 32px;
  border: none;
  border-bottom: 2px solid #7094ce;
  padding-left: 32px;
  width: 100%;
}

.modal-search .modal-content .modal-header .search-block .fa-search {
  position: absolute;
  left: 5%;
  top: 15%;
  color: #67748b;
}

.modal-search .modal-body div {
  height: 50px;
}

.modal-search .modal-body div .icon {
  padding: 3% 0px;
  margin-right: 15px;
}

.modal-search .modal-body div div p {
  margin: 0;
  font-size: 16px;
}

.modal-search .modal-body div div p:last-child {
  color: grey;
}

/* Modal Info */
.modal-info {
  max-width: 1000px !important;
}

.modal-info .modal-content {
  padding: 20px 24px;
}

.modal-info .modal-content .modal-header {
  padding: 1rem 2rem;
  border-bottom: none;
}

.task-title span {
  margin-left: 10px;
}

.task-click div span {
  padding-right: 20xp;
}

.fa-trash-alt {
  width: 20px !important;
  height: 20px;
}

.task-click .close {
  padding-bottom: 16px !important;
}

.modal-info .modal-body .issue {
  font-size: 20px;
  font-weight: 500;
}

.modal-info .modal-body .description p:first-child {
  margin-bottom: 5px;
}

.input-comment {
  width: 100%;
}

.input-comment input {
  width: 100%;
  height: 45px;
  padding: 10px;
}

.block-comment .avatar {
  margin-right: 15px;
}

.display-comment .avatar {
  margin-right: 15px;
}

.col-4 h6 {
  font-size: 13px;
}

.status .custom-select {
  height: 35px;
  background: #dcdfe4;
  margin-bottom: 20px;
}

.item {
  margin-right: 20px;
  background: #e9eaf0;
  padding: 5px;
  border-radius: 5px;
  flex-basis: 50%;
}

.item .avatar img {
  width: 30px;
  height: 30px;
}

.item .name {
  margin: 0;
}

.reporter .item {
  width: fit-content;
}

.reporter {
  margin-bottom: 20px;
}

.estimate-hours {
  height: 35px;
  background: #F2F3F7;
  margin-bottom: 20px;
  border: 1px solid ;
  border-color: #ced4da;
  width: 100%;
  padding: 8px;
}

.estimate-hours:focus{
  background: white;
}

.time-tracking{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ced4da;
}

.time-tracking h6{
  font-size: 12px;
  color: #929398;
}

.fa-clock{
  margin-right: 10px;
}

.progress{
  height: 5px!important;
  width: 100%;
}

.logged, .estimate-time{
  font-size: 14px;
}

 .content ul {
  margin-left: 0;
}

/* ******* */
.modal-backdrop {
  z-index: 11;
}

.components {
  border-bottom: 2px solid #c4c5c6;
}
.user {
  padding: 0% 10%;
  text-align: left;
  margin-bottom: 8%;
  /* margin-left: 7%; */
  margin-right: 7%;
}